<h1> New Artist Form </h1> 

<%= form_for @artist do |artist| %> 
    <%= artist.label 'Artist Name' </label> <br> 
        <%= artist.text_field :artist[name] %> <br> 

    <%= artist.label 'Artist Bio' %> <br> 
        <%= artist.text_field :artist[bio] %> <br> 
    
    <%= artist.submit "Create Artist" %> 

<% end %> 